{% extends "base.html" %}

{% block title %} LOGIN {% endblock title %}

{% block link-productos %} productos {% endblock link-productos %}

{% block contenido %}

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <br><h3 class="text-center">Inicio de sesión</h3><hr>
                <form>
                    <div class="mb-3">
                      <label for="email" class="form-label">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="ejemplo@correo.com">
                      <div id="emailHelp" class="form-text">Nunca compartas tu correo o datos personales.</div>
                    </div>
                    <div class="mb-3">
                      <label for="contrasenia" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="contrasenia" placeholder="Contraseña">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="check-1">
                      <label class="form-check-label" for="check-1">Recordar</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                  </form>
            </div>
        </div>
    </div>

{% endblock contenido %}