{% extends "base.html" %}

{% block title %} PRODUCTOS {% endblock title %}
{% block link-productos %} {% endblock link-productos %}

{% block contenido %}
    <div class="container">
        <h1 class="text-center">TODOS LOS PRODUCTOS</h1>
        <!--
        <table class="table table-striped">
            {% if lista_productos %}
                <tr>
                    <th>CODIGO</th>
                    <th>NOMBRE</th>
                    <th>CATEGORIA</th>
                    <th>STOCK</th>
                    <th>PRECIO (ARS)</th>
                </tr>

                {% for producto in lista_productos %}
                    
                    <tr class="{% if producto.stock == 0 %} table-danger {% endif %}">
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>$ {{ producto.precio }}</td>
                    </tr>
                    
                {% endfor %}

            {% else %}
                <p>NO HAY PRODUCTOS</p>
            {% endif %}
        </table>
        <hr>
        <br><br><br>
        -->
        
        <hr>
        <br>
        <!-- img src="{{ producto.imagen.url }}" class="card-img-top" alt="..." -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for producto in lista_productos %}
            <div class="col-3">
                <div class="card h-100">
                    <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Ver</a>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            
        </div>
        
    </div>

    
{% endblock contenido %}