{% extends "base.html" %}

{% block title %} RESULTADOS {% endblock title %}
{% block link-productos %} ../productos {% endblock link-productos %}

{% block contenido %}
    
    <div class="container">
        <h3 class="text-center">AQUÍ LOS RESULTADOS</h3>
        
        <table class="table table-striped">
            {% if encontrados %}
                <tr>
                    <th>CODIGO</th>
                    <th>NOMBRE</th>
                    <th>CATEGORIA</th>
                    <th>STOCK</th>
                    <th>PRECIO (ARS)</th>
                </tr>

                {% for producto in encontrados %}
                    
                    <tr class="{% if producto.stock == 0 %} table-danger {% endif %}">
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>$ {{ producto.precio }}</td>
                    </tr>
                    
                {% endfor %}

            {% else %}
                <p>NO HAY PRODUCTOS</p>
            {% endif %}
        </table>
    </div>




{% endblock contenido %}